// palette colori

$white: #fff;
$orange: rgb(213, 89, 36);
$black: rgb(41, 45, 45);

// google font
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,800;1,300&display=swap');

